*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
    #screen{
        height: 650px;
        width:60%;
        margin: auto;
        /* border:5px solid green; */
       }

    .body{
        height:650px;
        width:100%;
        /* border:1px solid orange; */
        display: flex;
        justify-content: space-between;
         align-items: center;
         
         
         
    }
    .left{
        height: 550px;
        width:45%;
        /* border:1px solid black; */
        position: relative;

        

    }
   
    .left1{
        width: 100%;
        height: 100%;
    }
    .img1{
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 10;
        left:15;
    }
    .img2{
        position: absolute;
        z-index: 2;  
        width: 100%;
        top: 25px;
        left: 85px;
    }

    .right{
        height: 550px;
        width:49% ;
        /* border:1px solid gainsboro; */
        padding: 3%;

    }
    #logo{
        height: 350px;
        width: 100%;
        border: 1px solid gainsboro;
    }
    #name{
        height: 90px;
        width: 80%;
        /* border: 1px solid red; */
        align-items: center;
        margin-left: 55PX;
        /* margin: 30px 55px 30px ; */
        
    }
    #name>img{
        height: 100%;
        width: 80%;
        /* border: 1px solid red; */

    }
    #form{
        /* height: 300px; */
        width: 100%;
        /* border:1px solid red; */
        margin-bottom: 20px;
    }
    #form>div>input{
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 5px;
        border:1px solid gainsboro;
    }
    #form>div:nth-child(3)>input{
        background-color: rgb(0,149,246);
        color: white;
        border-radius: 10px;
    }
    #fb>p:nth-child(1){
        color: rgb(56,100,165);
        text-align: center;
       
    }
    #fb>p:nth-child(2){
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
       
    }
    .right>p{
        height: 50px;
        border:1px solid gainsboro;
        font-size: 20px;
        color: rgb(87, 86, 86);
        text-align: center;
        margin-top: 30px;
        justify-content: center;
    }
    .right>p>span{
        background-color: rgb(0,149,246);
         font-size: 18px;
         
    }
    #app>p{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;;
    }
    #app>div{
        height: 50px;
        width: 100%;
        display: flex;
        /* border:1px solid gainsboro; */

    }
    #app>div>img{
        height: 100%;
        width: 100%;
    

    }

    @media screen and (max-width:720px){
        #body>div:nth-child(2){
            display: none;
        }
        #body>div:nth-child(1){
            width: 100%;
        }
        
    }


